<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
	<timestamp key="bySecond" datePattern="yyyy-MM-dd HH-mm-ss" />
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>wget_downloads/wget.log</file>
		<append>true</append>
		<encoder>
			<pattern>${bySecond} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		
		<encoder>
			<pattern>${bySecond} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<outputPatternAsHeader>false</outputPatternAsHeader>
		</encoder>
	</appender>
	<appender name="CONSOLE_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>${bySecond} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="SYSERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>${bySecond} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root >
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="SYSERR" />
		<appender-ref ref="CONSOLE_DEBUG" />	 -->	
	</root>
</configuration>